.rodzina{
    background-color: #CDDAAB !important;
    color: #000;
}

.rodzina:hover{
    background-color: #DCE5C4 !important;
}

.przyjaciele
{
    background-color: #DA9CBE !important;
    color: #fff;
}

.przyjaciele:hover
{
    background-color: #E5B9D1 !important;
}

.praca{
    background-color: #E9E9E9 !important;
    color: #000;
}

.praca:hover{
    background-color: #EFEFEF !important;
}

.znajomi{
    background-color: #77A9B3 !important;
    color: #000;
}

.znajomi:hover{
    background-color: #9FC2C9 !important;
}
