@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Roboto&display=swap');

*{
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 20px;
    font-family: 'Balsamiq Sans', cursive;
}

nav{
    background-color: #D88383;
    padding: 40px 0 40px 0;
    text-align: center;
}

nav a{
    color: white;
    letter-spacing: 4px;
    margin: 10px;
    text-decoration: none;
    background-color: #ac6868;
    padding: 10px;
    text-align: center;
}

nav a:hover{
    background-color: #ac6868;
}

section{
    text-align: center;
    margin-top: 50px;
}

table, td, th {
    border: 1px solid #ddd;
    text-align: left;
}

table {
    border-collapse: collapse;
    width: 100%;
    min-width: 1024px;
    margin: auto;
}

th, td {
    padding: 15px;
}

aside{
    width: 800px;
}

h1{
    color: darkslategrey;
}


section a
{
    color: darkred;
}

footer{
    background-color: #D88383;
    color: white;
}