@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Roboto&display=swap');

*{
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 20px;
    font-family: 'Balsamiq Sans', cursive;
}

nav{
    background-color: #C6E2FF;
    padding: 10px 0 10px 0;
    text-align: center;
}

nav a{
    color: white;
    letter-spacing: 4px;
    margin: 10px;
    text-decoration: none;
    background-color: #606A75;
    padding: 4px;
    text-align: center;
}

nav a:hover{
    background-color: #4F5A66;
}

section{
    text-align: center;
    margin-top: 50px;
}

table
{
    border: 1px solid black;
    margin: auto;
}

aside{
    width: 800px;
}

h1{
    color: red;
}


section a
{
    color: darkred;
}

footer{
    background-color: #C6E2FF;
}