@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 20px;
    font-family: 'Roboto', sans-serif;
    color: white;
    background-color: darkgrey;
}

nav{
    background-color: #ff7f50;
    padding: 10px 0 10px 0;
    text-align: center;
}

nav a{
    color: white;
    letter-spacing: 4px;
    margin: 10px;
    text-decoration: none;
    background-color: #CCA294;
    padding: 5px;
    padding: 20px;
    text-align: center;
}

nav a:hover{
    background-color: #DBBDB4;
}

section{
    text-align: center;
    margin-top: 50px;
}

table
{
    border: 1px solid black;
    margin: auto;
}

aside{
    width: 500px;
}

h1{
    color: #CDDAAB;
}


section a
{
    color: greenyellow;
}