<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Style dla wybranych</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Style dla wybranych</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="#">Kontakty</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Strona.html
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="strona.html">Bez stylów</a>
            <a class="dropdown-item" href="strona1.html">Styl #1</a>
            <a class="dropdown-item" href="strona2.html">Styl #2</a>
            <a class="dropdown-item" href="strona3.html">Styl #3</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="about.html">About.html</a>
        </li>
        </ul>
    </div>
    </nav>

    <section id="app">
        <div class="container">
            <h1 class="m-5 text-center">Kontakty</h1>

            <div class="row">
                <div class="col-md-12 mb-5">
                    <div class="card">
                        <h5 data-toggle="collapse" data-target="#body-collapse" aria-expanded="false" aria-controls="body-collapse" class="card-header">
                            <span v-if="edit==null">Dodawanie nowego kontaktu</span>
                            <span v-else=>Edycja kontaktu</span>
                            <small class="text-muted">Pokaż/ukryj</small>
                        </h5>
                        <div id="body-collapse" class="card-body collapse">
                            <form @submit="add">
                                <input type="hidden" v-model="edit">
                                <div class="form-group">
                                    <label for="nameInput">Imię</label>
                                    <input v-bind:class="{ 'is-invalid': errors.name.state }"  v-model="name" type="text" class="form-control" id="nameInput">
                                    <div class="invalid-feedback">
                                        {{ errors.name.message }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="subNameInput">Imię</label>
                                    <input v-bind:class="{ 'is-invalid': errors.subName.state }" v-model="subName" type="text" class="form-control" id="subNameInput">
                                    <div class="invalid-feedback">
                                        {{ errors.subName.message }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="emailInput">Email:</label>
                                    <input v-bind:class="{ 'is-invalid': errors.email.state }" v-model="email" type="email" class="form-control" id="emailInput">
                                    <div class="invalid-feedback">
                                        {{ errors.email.message }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="telInput">Telefon:</label>
                                    <input v-bind:class="{ 'is-invalid': errors.tel.state }" v-model="tel" type="tel" class="form-control" id="telInput">
                                    <div class="invalid-feedback">
                                        {{ errors.tel.message }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="ageInput">Wiek:</label>
                                    <input v-bind:class="{ 'is-invalid': errors.age.state }" v-model="age" type="number" class="form-control" id="ageInput">
                                    <div class="invalid-feedback">
                                        {{ errors.age.message }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="dateBirthInput">Data urodzenia:</label>
                                    <input v-bind:class="{ 'is-invalid': errors.date.state }" v-model="date" type="date" class="form-control" id="dateBirthInput">
                                    <div class="invalid-feedback">
                                        {{ errors.date.message }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="form-check">
                                        <input v-model="sex" class="form-check-input" type="radio" name="sex" id="manInput" value="m">
                                        <label class="form-check-label" for="manInput">
                                            Meżczyzna
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input v-model="sex" class="form-check-input" type="radio" name="sex" id="womanInput" value="k">
                                        <label class="form-check-label" for="womanInput">
                                            Kobieta
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="groupInput">Grupa</label>
                                    <select v-model="group" id="groupInput" class="form-control">
                                        <option value="Rodzina">Rodzina</option>
                                        <option value="Przyjaciele">Przyjaciele</option>
                                        <option value="Praca">Praca</option>
                                        <option value="Znajomi">Znajomi</option>
                                    </select>
                                </div>
                                <button v-on:click="add" type="submit" class="btn btn-primary">
                                    <span v-if="edit==null">Dodaj nowy kontakt</span>
                                    <span v-else=>Zapisz zmiany</span>
                                </button>
                                <button @click="cancelEdit" v-if="edit!=null" type="button" class="btn btn-secondary">Anuluj</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-6">
                    <div class="form-check">
                        <input id="showPrivate" type="checkbox" class="form-check-input" v-model="showPrivate">
                        <label for="showPrivate" class="form-check-label">Pokaż wrażliwe dane</label>     
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <table class="table table-sm">
                        <thead>
                            <tr>
                                <th scope="col">Lp.</th>
                                <th scope="col">Imię</th>
                                <th scope="col">Nazwisko</th>
                                <th scope="col">Email</th>
                                <th scope="col">Telefon</th>
                                <th scope="col">Wiek</th>
                                <th scope="col">Data urodzenia</th>
                                <th scope="col">Płeć</th>
                                <th scope="col">Grupa</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-if="hasRecords()" v-for="(person, index) in persons" v-bind:class="person.group | lowercase" :key="listKey">
                                <td>{{ index+1 }}</td>
                                <td>{{ person.name }}</td>
                                <td>{{ person.subName }}</td>
                                <td>
                                    <span v-if="showPrivate">{{ person.email | showPrivateFiltr }}</span>
                                    <span class="font-weight-bold" v-else>Ukryty</span>
                                </td>
                                <td>
                                    <span v-if="showPrivate">{{ person.tel | telephoneFormat }}</span>
                                    <span class="font-weight-bold" v-else>Ukryty</span>
                                </td>
                                <td>{{ person.age }}</td>
                                <td>{{ person.date }}</td>
                                <td>{{ person.sex | fullsex }}</td>
                                <td>{{ person.group }}</td>
                                <td>
                                    <button @click="removeRecord(index)" type="button" class="btn btn-danger">Usuń</button>
                                    <button @click="editRecord(index)" type="button" class="btn btn-info">Edytuj</button>
                                </td>
                            </tr>
                            <tr v-if="!hasRecords()">
                                <td class="text-center" colspan="10">Brak kontaktów !</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="js/contacts.js"></script>
</body>
</html>